@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

html,
body {
  font-family: "Sora" !important;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide img:hover {
  transform: scale(1.1);
}

.accordion-button {
  background-color: #4CAF50; /* White background when collapsed */
  color: #333; /* Dark text color */
  font-size: 1.2rem;
  text-align: left;
  font-weight: bold;
  padding: 1rem;
  border: 1px solid #ddd; /* Light border */
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

.accordion-button.active {
  background-color: #4CAF50; /* Green background when expanded */
  color: white; /* White text when active */
}

.accordion-button.collapsed {
  background-color: white;  /* Keep white background when collapsed */
}

.accordion-body {
  padding: 1rem;
  background-color: #f1f1f1; /* Light background for content */
  border-top: 1px solid #ddd;
}

.accordion-item {
  border: 1px solid #ddd; /* Border around the entire accordion item */
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.accordion-header {
  padding: 0;
}

.accordion-collapse {
  overflow: hidden;
}

.accordion-button:focus {
  outline: none; /* Remove focus outline for cleaner UI */
}

