@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

html,
body {
  font-family: "Sora" !important;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide img:hover {
  transform: scale(1.1);
}

.accordion-button {
  background-color: #0b9643 !important; /* Green background */
  color: white !important; /* White text color */
  font-size: 1.2rem;
  text-align: left;
  font-weight: bold;
  text-transform: capitalize !important;
  padding: 1rem;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Remove Bootstrap's blue highlight when clicking */
.accordion-button:focus,
.accordion-button:active {
  box-shadow: none !important; /* Remove blue shadow */
  border-color: transparent !important;
}

/* Ensures the button doesn't get a different color when active */
.accordion-button:not(.collapsed) {
  background-color: #4CAF50 !important; /* Green background */
  color: white !important; /* White text */
  border-color: transparent !important;
}

/* When collapsed, revert to default */
.accordion-button.collapsed {
  background-color: white !important;
  color: #333 !important;
}

